.spinner {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50vh;
}

.panels {
	display: flex;
	min-height: calc(100vh - 70px);
	overflow: hidden;

	@media all and (max-width: 480px) {
		flex-direction: column;
	}
}
