.helmet {
	&__hero {
		display: flex;
		align-items: flex-end;
		min-height: 40vh;
		background-position: bottom;
		background-repeat: no-repeat;
	}

	&__title {
		color: white;
		padding-bottom: 1rem;
	}
}

.gallery {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 1rem;
	padding: 1rem 0;
}
