.helmet {
	&__hero {
		min-height: 30vh;
		background-position: center;
	}
}

.gallery {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 1rem;
}
.shopping-cart {
	position: absolute;
	top: 70px;
	right: 0;
	width: 300px;
	//transform: translateX(-100%);
	background-color: red;
	border: 1px solid #161718;
	border-radius: 4px;
	padding: 1rem;
	overflow: hidden;
}
