.header {
	height: 70px;
	&__nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		max-height: 4rem;
	}

	&__profile {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__icon {
		margin-left: 0.5rem;

		&::before {
			font-size: 1.9rem;
		}
	}
}
